#login-content {
    background: #FFFFFF url(../image/gps.gif) no-repeat fixed top;
    background-size: 200px;
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
}

#chat-content .userName {
    font-style: normal;
    font-weight: bold;
    font-size: larger;
}

#chat-content .userName.own {
    font-style: normal;
    font-weight: bold;
    font-size: larger;
    color: #00415e;
}